<%- include('header') %>

        <h2>
                Nova Categoria:
                <a href="/admin/categorias">Categoria</a>
       </h2>
        <div>
            <form method="POST">
                <label>Categoria:</label>
                <input type="text" name="categoria">
                <br>
                <button>Salvar categoria</button>

            </form>
        </div>
        
        
    <%- include('footer') %>